h1,h3{
 
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

#b{
  background-color: rgba(105, 156, 219, 0.297);
}

p{
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}
  
#btn{
  color: rgb(11, 21, 164);

}

#foot{
  background-color: rgba(3, 28, 59, 0.714);
}

#bt{
  background-color: rgba(0, 0, 255, 0.552);
  color: whitesmoke;
}

#sign{
  color: rgba(66, 2, 73, 0.762);
}

#nav{
  background-color: rgba(8, 41, 81, 0.536);
  height: 420px;
  color: rgba(157, 1, 105, 0.725);
 
}

#nav a{
  color: white;
}


#nav a :hover{
  color: aqua;
}

#cal{
  width: 280px;
  
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.clock {
  background-color: rgba(209, 209, 208, 0.749);
}

#c{
  color: rgb(103, 30, 98);
}

#bta{
 background-color: rgb(255, 255, 255);
 border: none;
}

.nav{
  background-color: rgba(3, 28, 59, 0.714);
}

.head{
 color: white;
 
}